<div class="home-wrapper">
  <div class="main-text">
    <h1>Trabajo en Progreso</h1>
    <p>En unos días estará disponible. Sigue el trabajo en <a href="https://github.com/lucianoalzugaray/"> mi repositorio </a></p>
  </div>
  <div class="icon-list">
    <ul>
      <li><a href="https://github.com/lucianoalzugaray" target="_blank"> <fa-icon class="icon" [icon]="faGithub"></fa-icon></a></li>
      <li><a href="https://codepen.io/LucianoAlzugaray/" target="_blank"> <fa-icon class="icon" [icon]="faCodepen"></fa-icon></a></li>
      <li><a href="https://twitter.com/nLunnN" target="_blank"> <fa-icon class="icon" [icon]="faTwitter"></fa-icon></a></li>
    </ul>
  </div>
</div>
