.topbar-wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */ 
}

.logo {
    font-family: 'Roboto Condensed', sans-serif;
    grid-column-start: 1;
    grid-column-end: 2;

    color: white;
    font-weight: 700;
    font-size: 1.4em;
    justify-self: left;
    align-self: center;
    margin-left: 60px;   
}

.menu {
    grid-column-start: 2;
    grid-column-end:3;
    color: white;
    justify-self: center;
    align-self: center;   
}

.menu ul {

    padding: 0 40px 0 0;
    margin: 0;
    list-style: none;
    display: inline-flex;
}

.menu ul li {
    margin: 0 10px;
}

.menu ul li a {
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 15px;
    font-size: 1.1em;
}

.menu ul li a:hover {
    animation-duration: 0.5s;
    animation-name: jump;
    animation-duration: normal;
    animation-timing-function: ease;
}

@keyframes jump {
    0%   { bottom:0px; }
    25% { bottom: 4px; }
    50% { bottom: 8px; }
    75% { bottom: 4px; }
    100% { bottom: 0px;}
}